@import "../../app/globals.css";

.card {
  background-color: var(--color-bg-card-dark);
  color: var(--color-text-dark);
} 

@media (prefers-color-scheme: dark) {  
  .card {
    background-color: var(--color-bg-card-dark);
    color: var(--color-text-dark);
  } 
}

@media (prefers-color-scheme: light) { 
  .card {
    background-color: var(--color-bg-card-light);
    color: var(--color-text-light);
  }
}
