@import './globals.css';

.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-page-dark);
  color: var(--color-text-dark);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;  
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  
  background-color: var(--color-bg-page--dark);
  padding: 60px 60px;
}

.pagination {
  background-color: var(--color-bg-page-dark);
  color: var(--color-text-dark);
}


@media (prefers-color-scheme: dark) {  
  .page {
    background-color: var(--color-bg-page-dark);
    color: var(--color-text-dark);
  }
}

@media (prefers-color-scheme: light) {
  .page {
    background-color: var(--color-bg-page-light);
    color: var(--color-text-light);    
  }
}
